<h1>Meu primer componente produtos! E chama: {{ nome_module }}</h1>

<p id="ano">
    {{ ano }}
</p>

<br> {{ produtos }}

<article>
    <h3>Clases e styles Binding</h3>

    Selecione uma clase:

    <select #classe (change)="0">
    <option value="verde">Verde</option>
    <option value="azul">Azul</option>
    <option value="vermelho">Vermelho</option>
    <option value="laranja">Laranja</option>
  </select>

    <br><br> A classe selecionada e: {{ classe.value }}

    <p [class]="classe.value" [style]="{'font-weight': 'bold', 'font-size': '30px'}">Um texto para ser colorido</p>

    <p [style.display]="classe.value == 'vermelho' ? 'block' : 'none'" [class]="classe.value">Voce escolheu vermelho!!!</p>
</article>

<article>
    <h3>Event binding</h3>

    <button (click)="botaoClicado()">Me click</button>

    <br><br>

    <input type="text" #meuCampo (keyup)="onKeyUp(meuCampo.value)" (keyup.enter)="salvarValor(meuCampo.value)" (blur)="saioDoCampo()">

    <p>Campo texto: {{ campoTexto }}</p>
    <p>Valor salvo: {{ valorSalvo }}</p>

    <br><br>

    <p (mouseover)="passeMouse()">Passe mouse sobre mim!</p>

    <br><br>

    <select #nomes (change)="valorSelecionado(nomes.value)">
      <option value="denis">Denis</option>
      <option value="desiree">Desiree</option>
      <option value="victoria">Victoria</option>
      <option value="dylan">Dylan</option>
    </select>

    <p>Nome selecionado: {{ nome }}</p>
</article>